body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

<section> {
   
    width: 90vw;
    padding: 10px;
    margin: auto;
}
div{ display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding: 50px;
    background-color: rgba(255, 255, 255, 0.322);
    width: 50vw;
    

}